/* 


.page-content {
  max-width: 800px;      
  width: 100%;
}

.page-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffdd57;
}

.page-content p {
  font-size: 1.2rem;
  line-height: 1.8;
} */
